RewriteEngine On
RewriteRule "trangchu" "?act=home"
RewriteRule "login" "?act=taikhoan&xuli=dangnhap"
RewriteRule "account" "?act=taikhoan"
RewriteRule "personal" "?act=taikhoan&xuli=account"
RewriteRule "([0-9]+).html$" "?act=detail&id=$1"
RewriteRule "store" "?act=shop" 
RewriteRule "type-product-categoris-([0-9]+)" "?act=shop&category=$1"