::-webkit-scrollbar {
    width: 7px;
    height: auto;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(150, 150, 150, 0.534);
    background: #000000;
}
::-webkit-scrollbar-thumb {
    background: #0751ff;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(131, 131, 131, 0.753);
}