RewriteEngine On
RewriteRule "banner" "?mod=banner"
RewriteRule "danhmuc" "?mod=danhmuc"
RewriteRule "nguoidung" "?mod=nguoidung"
RewriteRule "thuonghieu" "?mod=thuonghieu"
RewriteRule "hoadon" "?mod=hoadon"
RewriteRule "sanpham" "?mod=sanpham"
RewriteRule "error" "?mod=error"
RewriteRule "admin" "Admin"